<!DOCTYPE html>
<html>
<head>
    <title>Список продуктов</title>
</head>
<body>
    <h1>Список продуктов</h1>
    <a href="{% url 'catalog:product_create' %}">Добавить новый продукт</a>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - {{ product.price }}
                <a href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                <a href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
